.converter-card {
  padding: 24px; 
  width: calc(100% - 48px); 
  max-width:400px;
  margin: 0 auto; 
} 

.converter-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000; /* add color */
}
 
.converter-flex-wrapper {
  display: flex;
  flex-direction: column;
  position: relative; 
  gap: 72px; 
} 

.inline-swap-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 44px;
  height: 44px;
  background-color: #fff; /* add bg */
  border: 1px solid #ddd; /* add color */
  outline: 0;
  border-radius: 12px;
  color: #2c2c2c; /* add color */
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.inline-swap-btn:hover {
  background-color: gray; /* add color */
}

.box-select-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.currency-flag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.box-select {
  background: transparent;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: none; 
  outline: 0;
  cursor: pointer;
  padding-right: 20px;
}

.box-select option {
  background-color: rgb(74, 47, 194);
  color: #ffffff;
}

